// Smooth Scrolling
html {
  scroll-behavior: smooth;
  height: 100%;
}

// Body
body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt" 1, "frac" 1, "case" 1, "ccmp" 1, "ss01" 1,
    "ss02" 1, "ss03" 1, "zero" 1;
  overflow-y: scroll;
  color: $gray-800;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}

a {
  color: $blue-600;

  &:hover {
    color: $blue-800;
  }
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
  clip-path: none;
  color: $black;
  background-color: $white;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 0.25rem;
  left: 0.25rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  z-index: 25;
}

// Backgrounds
.background-white {
  background-color: $white;
}

.background-black {
  background-color: $black;
}

.background-head {
  background-color: #e8f3ff;
}

.background-header {
  background-image: url("/img/header-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-logo {
  background-image: url("/img/about/background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 80%;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aleo";
  font-weight: 600;
}

.custom-text {
  // position: relative;

  // &:after {
  //   content: "";
  //   height: 5px;
  //   background-color: $blue-400;
  //   display: block;
  //   width: 5rem;
  //   margin-left: -2.5rem;
  //   position: absolute;
  //   bottom: -1rem;
  //   left: 50%;
  // }
}

// Menu & Navbar
nav .nav-link {
  display: inline-block;
  position: relative;
  font-family: "Aleo";
  font-weight: 700;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.25rem;
    background: transparent;
    display: block;
    margin-top: 0.5rem;
    transition: 0.25s ease-in-out;
  }

  &:hover,
  &:focus-visible,
  &:active,
  &.active {
    color: $blue-600;

    &:after {
      width: 100%;
      background: $blue-600;
    }
  }
}

#menu label,
#hamburger {
  display: none;
}

// Home
.home {
  & h1 {
    font-family: "Aleo";
    font-size: 4rem;
    font-weight: 700;
    color: $blue-600;
  }
  & p {
    font-size: 1.125rem;
    color: $blue-600;
    margin-bottom: 0;
  }
  & .button-cta {
    border-radius: 0.25rem;
    padding: 0.85rem 1.5rem;
    font-weight: 500;
    background-color: $blue-600;
    border: 2px solid transparent;
    color: $white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    transition: 0.25s ease-in-out;

    &:hover,
    &:active,
    &:focus-visible {
      background-color: $blue-700;
    }
  }
  & .button-ghost {
    border-radius: 0.25rem;
    padding: 0.85rem 1.5rem;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid $blue-600;
    color: $blue-600;
    text-decoration: none;
    transition: 0.25s ease-in-out;

    &:hover,
    &:active,
    &:focus-visible {
      color: $white;
      background-color: $blue-600;
    }
  }
}

// Features
#features .feature-icon {
  display: inline-block;
  border-radius: 0.375rem;
  color: $white;
  background-color: $blue-600;
  padding: 0.75rem 0.95rem;
  margin-bottom: 1.25rem;
}

#features h2 {
  font-size: 1.125rem;
}

// Code
#code {
  & p {
    font-size: 1.25rem;
  }
  & h2 {
    color: $blue-600;
    font-weight: 700;
    font-size: 2.25rem;
  }
  & .card {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease-in-out;
    border-radius: 0.5rem;

    &:hover {
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 8px 10px -6px rgba(0, 0, 0, 0.1);
    }

    & span {
      display: block;
      font-size: 0.85rem;
      color: #4f46e5;
      margin-bottom: 0.5rem;
    }

    & .card-body {
      padding: 1.5rem;
    }

    & .card-title {
      font-size: 1.25rem;
      color: $gray-900;
    }

    & .card-text {
      font-size: 1rem;
      color: $gray-500;
    }
  }
}

// CTA
.cta {
  & h2 {
    font-size: 2.25rem;
    font-weight: 700;
    color: $gray-900;
    margin-bottom: 0;
  }
  & h3 {
    font-size: 2.25rem;
    font-weight: 700;
    color: $blue-600;
  }
  & a {
    border-radius: 0.45rem;
    padding: 1rem 1.25rem;
    color: $white;
    background-color: $blue-600;
    text-decoration: none;
    transition: 0.25s ease-in-out;

    &:hover,
    &:focus-visible,
    &:focus,
    &:active {
      background-color: $blue-700;
    }
  }
}

// Cards
#report {
  padding: 2rem 3rem;
  color: $gray-800;
  background-color: $blue-300;

  & h2 {
    color: $blue-900;
  }

  & .title {
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  & .button-cta {
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
    background-color: $blue-800;
    border: 2px solid transparent;
    color: $white;
    text-decoration: none;
    transition: 0.25s ease-in-out;

    &:hover,
    &:active,
    &:focus-visible {
      background-color: $blue-900;
    }
  }
}

// About
#about  {
  & h2 {
  margin-left: -3rem;
    & .inline-svg {
      margin-right: 0.5rem;
      color: $blue-600;
    }
  }

  & p {
    color: $gray-600;
  }

  & a {
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover .inline-svg {
      margin-left: 0.5rem;
    }

    & .inline-svg {
      margin-left: 0.35rem;
      transition: 0.25s ease-in-out;
    }
  }
}

// Community 
#community {
  & p {
    color: $gray-600;
  }

  & a {
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover .inline-svg {
      margin-left: 0.5rem;
    }

    & .inline-svg {
      margin-left: 0.35rem;
      transition: 0.25s ease-in-out;
    }
  }
}

#connect {
  & p {
    color: $gray-600;
  }
  
  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    & .inline-svg {
      top: 0;
      font-size: 2rem;
      margin-right: 1.25rem;
    }
  }
}

// FAQ
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  position: relative;
  list-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  font-family: "Aleo";
  cursor: pointer;
  margin-block: 1.25rem;
  display: flex;
  justify-content: space-between;

  & .inline-svg {
    color: $blue-600;
    top: 0;
  }
}

details:not(:last-of-type) {
  border-bottom: 1px solid $gray-300;
}

details[open] summary svg {
  transform: rotate(180deg);
}

// Inner pages
.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: $blue-600;
}

.page-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: $gray-600;
  line-height: 2.25rem;
}

.top-bar {
  background-color: #e8f3ff;
}

.post-content {
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $blue-600;
  }
  & img {
    max-width: 100%;
    margin-inline: auto;
  }
  & a {
    color: $blue-600;
  }
}

// Footer
footer {
  margin-top: auto;

  & a:not(:last-of-type) {
    margin-right: 1rem;
  }
  & .inline-svg {
    color: $white;
    font-size: 1.5rem;
  }
}

// SVG
.inline-svg {
  display: inline-flex;
  justify-content: center;
  height: 1em;
  width: 1em;
  top: 0.1em;
  position: relative;
}

svg,
svg path {
  transition: 0.25s ease-in-out;
}

// Mobile queries

@include media-breakpoint-down(lg) {
  .home h1 {
    font-size: 3rem;
  }

  #about h2 {
    margin-left: 0;
  }

  .top-bar {
    background-color: transparent;
  }

  .cta a {
    width: 100%;
    text-align: center;
  }

  #menu label {
    cursor: pointer;
    display: inline-block;
    color: $blue-800;
    font-size: 1.5rem;
    font-weight: 600;
  }

  #menu-items {
    display: none;

    & .nav-item:last-of-type .nav-link {
      border-radius: none;
      padding: 0.5rem 0;
      background-color: transparent;
      color: $blue-900;
    }
  }

  #footerNavBar {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start !important;
  }

  #footerNav ul {
    flex-direction: column;
    margin-top: 1.5rem;
    & .nav-link {
      padding-inline: 0;
    }
  }

  #menu input:checked ~ #menu-items {
    display: block;
  }

  #report {
    padding: 1.25rem;

    & .button-cta {
      width: 100%;
      display: block;
    }
  }
}
