<div class="container-fluid cta background-gray-50 py-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-9 col-12 mb-lg-0 mb-4 text-lg-start text-center">
                <h2>Let's fight censorship together.</h2>
                <h3>Join the Icarus Project community!</h3>
            </div>
            <div class="col-lg-3 col-12 d-flex justify-content-lg-end justify-content-center">
                <a class="" href="#">Join us</a>
            </div>
        </div>
    </div>
</div>