{{ define "main" }}
<main>
    <div class="container-fluid py-5">
        <div class="container">
            <section id="features" class="row justify-content-between align-items-center mt-3 mb-5">
                {{ range where .Site.RegularPages "Section" "features" }}
                <div class="col-xl-4 col-12 mb-xl-0 mb-4">
                    {{ $icon := .Page.Params.icon }}
                    <div class="feature-icon">{{ partial "fontawesome.html" $icon }}</div>
                    <h2 class="color-gray-900">{{ .Page.Params.title }}</h2>
                    <p class="color-gray-600">{{ .Page.Params.description }}</p>
                </div>
                {{ end }}
            </section>
        </div>
    </div>
    <div class="container-fluid background-gray-50 pt-3 pb-5">
        <div class="container">
            <section id="code">
                <div class="row justify-content-center align-items-center py-5">
                    <div class="col-lg-6 col-12">
                        <h2 class="text-center custom-text">Check out our Code</h2>
                        <p class="text-center color-gray-500">Our repository gives you access to the tools you need to
                            build
                            a
                            mirror
                            site in situations where your site is blocked from local access. It's censorship-fighting
                            code.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-between mb-4">
                    {{ range where .Site.RegularPages "Section" "code" }}
                    <div class="col-lg-4 col-12 mb-xl-0 mb-4">
                        <div class="card h-100">
                            <img {{ with .Page.Params.animate }}id="{{ . }}" onclick="changeImage();"{{ end }} class="img-fluid card-img-top" src="/img/code/{{ .Page.Params.image }}" alt="{{ .Page.Params.title }}">
                            <div class="card-body">
                                <span>{{ .Page.Params.type | humanize }}</span>
                                <h3 class="card-title">{{ .Page.Params.title }}</h3>
                                <p class="card-text">{{ .Page.Params.description }}</p>
                            </div>
                        </div>
                    </div>
                    {{ if .Page.Params.animate }}
                    <script>
                        let counter = 0;
                        function changeImage() {
                            counter++;
                            console.log(counter);
                            if (counter === 5) {
                                document.getElementById("wink").src = "/img/code/{{ .Page.Params.animation }}";
                                counter = 0;
                            } 
                            else {
                                document.getElementById("wink").src = "/img/code/{{ .Page.Params.image }}";
                            }
                        };
                    </script>
                    {{ else }}
                    {{ end }}
                    {{ end }}
                </div>
            </section>
        </div>
    </div>
    {{ $number := (where .Site.RegularPages "Section" "==" "blog") }}
    {{ if gt (len $number) 3 }}
    <div class="container-fluid py-5">
        <div class="container">
            <section id="blog">
                <h2 class="mb-2">Our Newsroom</h2>
                <p class="text-muted mb-5">Stay up to date with our investigations and our community.</p>

                <hr />

                <div class="row align-items-center py-4">
                    {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-4 mb-lg-0">
                        <article>
                            {{ range .Params.categories }}
                            <p class="category mb-2 {{ . }}">{{ . }}</p>
                            {{ end }}
                            <a href="{{ .Permalink }}"><h4 class="mt-2">{{ .Title }}</h4></a>
                            <p class="text-muted mb-3">{{ .Description }}</p>
                            <div class="row justify-content-start">
                                {{ range .Param "authors" }}
                                {{ $name := . }}
                                {{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
                                {{ with $.Site.GetPage $path }}
                                <div class="col-2">
                                    <img src="{{ .Site.BaseURL }}/img/authors/{{ .Params.image }}">
                                </div>
                                <div class="col-9">
                                    <p class="mb-0">{{ .Params.name }}</p>
                                    {{ end }}
                                    {{ end }}
                                    <p class="text-muted mb-0"><time datetime="{{ .Date.Format .Site.Params.dateform }}">{{ .Date.Format .Site.Params.dateform }}</time> · {{ .Page.ReadingTime }} min read</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {{ end }}
                </div>
            </section>
        </div>
    </div>
    {{ else }}
    {{ end }}

    {{ partial "cta.html" }}

</main>
{{ end }}